.diceRoll {
    width:550px;
    height:50px;
}
.board {
    background-color:#f5dd9f;
    height:75px;
    width:400px;
    border-radius:5px;
}
html {
    background-color:#effacd;
}
.controls button {
    background-color:gray;
    border: 2px lightgray solid;
    border-radius: 5px;
    padding:15px 25px;

}
#content {
    width:500px;
    height:500px;
}
#content div, #content table {
    text-align:center;
    margin:auto;
}

.row {
    width:400px;
}

tr {
    display:inline-block;
    border:2px solid black;
    background-color:white;
}

td {
    width:25px;
}
.choiceP {
    border-right:2px solid black;
}

#row2 tr .choiceP {
    height:38px;
}

.diceRoll div {
    display:inline-block;
    width:30px;
    height:30px;
    margin:0px;
    border:2px solid black;
}
.held {
    background-color:lightgray;
}
.free {
    background-color:white;
}

.diceRoll {
    max-width:500px;
}